<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/standard.css">
        <link rel="stylesheet" href="/static/css/about.css">
    </head>
    <body>
        
        <div id="banner">
            <img id="game-logo" src="../static/game-logo.png">
        </div>
        
        <div class="grid">
            
        <div id="navbar">
        
            <div class="nav" id="home"><a href="/home" class="nav-hyperlink"> Home
             </a></div>
            <div class="nav" id="play"><a href="/play" class="nav-hyperlink"> Play
            </a></div>
            
            <div class="nav" id="guide"><a href="/guide" class="nav-hyperlink"> Guide
            </a></div>
            <div class="nav" id="about"><a href="/about" class="nav-hyperlink"> About
            </a></div>
            
        </div>
        
        <div class="panel" id="fullscreen">
            
            <p class="heading">&gt; WHO WE ARE</p>
            
            <p class="readtext">Electronic Rats is a team of 3 developers who grew tired of cash-grabbing, fun-hoarding studios.</p>
            
            <p class="readtext">This is us,</p>
            
            
            <p class="readtext">Diego Mellado</p>
            
            <p class="readtext">Francisco Salcedo</p>
            
            <p class="readtext">Stephan Guingor</p>
            
            
            <p class="heading">&gt; OUR MISSION</p>
            
            <p class="readtext">Game development in itself is a form of art: the convergence of storytelling and engineering is most visible in the videogames we create and we play. </p>
            
            <p class="readtext">However, it seems that modern video game development is solely focused on profit than playability: rushing a new iteration without regards for its artistry.</p>
            
            <p class="readtext">Our mission with SHHOOTOUT, is to educate future videogame developers in game design: teaching them the consequences of their design choices - e.j. where to place a sandbag or where to place an enemy, in the fun and playability of their games.</p>
            
            <p class="readtext">This way, they can create games that not only are fun to play, but that will leave a legacy of respect for the user-developer relationship.</p>
            
            
            
            <p class="heading">&gt; GAME ON :) </p>
        
        
        </div>
            
        </div>
        
        <div id="footer">
            <p class="text"><b>Electronic Rats &copy; 2022</b></p>
        </div>

        
    </body>
</html>
