<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/standard.css">
        <link rel="stylesheet" href="/static/css/guide.css">
    </head>
    <body>
        
        <div id="banner">
            <img id="game-logo" src="../static/game-logo.png">
        </div>
        
        <div class="grid">
            
        <div id="navbar">
        
            <div class="nav" id="home"><a href="/home" class="nav-hyperlink"> Home
             </a></div>
            <div class="nav" id="play"><a href="/play" class="nav-hyperlink"> Play
            </a></div>
            
            <div class="nav" id="guide"><a href="/guide" class="nav-hyperlink"> Guide
            </a></div>
            <div class="nav" id="about"><a href="/about" class="nav-hyperlink"> About
            </a></div>
            
        </div>
        
        <div class="panel" id="leftCol"><p class="heading">&gt; YOUR MISSION</p>
            
            <p class="readtext">You have infiltrated in a secret enemy base and have got your hands on some key piece of information that can change the course of history.</p>
            <br>
            <p class="readtext">Your task - is to make it safe and sound out of the building, while eliminating every enemy as silently as you can.</p>
            
            
            <p class="heading">&gt; HOW TO PLAY</p>
            
            <p class="readtext"> To move around, use the WASD keys on your keyboard to move in a specific direction.</p>
            
            <p class="readtext">Use your mouse to aim, and shoot at enemies using your left-click.</p>
            
            <p class="heading">&gt; CREATING YOUR OWN SCENARIOS</p>
            
            <p class="readtext">Use your mouse to select what item to place in your scenario.</p>
            
            <p class="readtext">You may only place one room, and one player.</p>
            
            <p class="readtext">You can place as many enemies and items as your heart desires.</p>
            
            
            <p class="heading">&gt; SHARING YOUR CREATIONS</p>
            <p class="readtext">Save and share your playable levels with users from all around the world! </p>
            
            <p class="readtext">You can also load and play trending levels.</p>
            
            
            
            
            
        
        
        </div>
        
        
        
        <div class="panel" id="rightCol"><p class="heading">&gt; PRO TIPS!</p>
            <img class="thumbnail" src ="/static/hitpoints.png">
            <p class="readtext">You lose life quickly! So be sure to not alert any surrounding enemies by shooting to nothing.</p>
            <img class="thumbnail" src ="/static/bullets.png">
            <p class="readtext">Your bullets are counted! Every shot made may make or break your mission.</p>
            
            <p class="readtext">Eliminating as many enemies and leaving as fast as possible, is sure to get your name on a level's leaderboard! </p>
        
        
        </div>

        </div>
        
        <div id="footer">
            <p class="text"><b>Electronic Rats &copy; 2022</b></p>
        </div>

        
    </body>
</html>
