<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/css/start.css" rel="stylesheet">
        <link href="/static/css/standard.css" rel="stylesheet">
        <script src="/static/js/start.js"></script>
    </head>
    <body>
        
        <div id="console-div">
            <div id="cursor-div"></div>
            <div id="cursor-div-input"></div>
            
            <p class="terminal-text" id="script-0"></p>
            <p class="terminal-text" id="script-1"></p>
            
            <div class="loadbar-div" id="script-2"></div>
            
            <p class="terminal-text" id="script-3"></p>
            
            <button id="input-B" type="button" class="inputButton"></button>
            <button id="input-B2" type="button" class="inputButton"></button>
            
            
            
            <p class="terminal-text" id="script-4"></p>
            
            <input type="text" class="input-text" id="input-0">
            <p class="terminal-input" id="input-0a"></p>
                
            <p class="terminal-text" id="script-5"></p>
            
            <input type="text" class="input-text" id="input-1">
            <p class="terminal-input" id="input-1a"></p>
            
            <p class="terminal-text" id="script-6"></p>
            <input type="password" class="input-text" id="input-2">
            <p class="input-text" id="input-2a"></p>
            
            
            
            <p class="terminal-text" id="script-7"></p>
            
            <div class="loadbar-div" id="script-8"></div>
            
            <p class="terminal-text" id="script-9"></p>
            <p class="terminal-text" id="script-10"></p>
            <p class="terminal-text" id="script-11"></p>
            <p class="terminal-text" id="script-12"></p>
            
            <div class="loadbar-div" id="script-10"></div>
            
            
        </div>
    </body>
</html>


