.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.center {
  width: 50%;
}

#studio-name{
    color:#d89e05;
    font-family:"6809_chargenregular";
    display:none;
    
}

#studio-logo{

    -webkit-animation: fade 6s ease-in-out 1s both;
    animation: fade 6s ease-in-out 1s both;
    max-width:200px;
}




@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  
  33%{
      opacity: 1;
  }
  
  66%{
      opacity: 1;
  }

  100%{
      opacity:0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  
  33%{
      opacity: 1;
  }
  
  66%{
      opacity: 1;
  }

  100%{
      opacity:0;
  }
}



@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

